<main>
  <div class="container">
    <section class="header">
      <h3>利用上の注意</h3>
    </section>
    <section class="content">
      <ul>
        <li>
          生成AIはプロンプトの入れ方により、表示される回答の精度が異なります。単語のみではなく、文章を入力してください。
          <p>例：×「EY新日本」</p>
          <p>〇「EY新日本を紹介してください。」</p>
        </li>
        <li>
          当サービスは、以下の関連のドキュメントに対して、ChatGPTを利用した自動応答を提供するサービス（開発版）です。あらかじめ用意されたドキュメントに対して質問を投げかけ、回答を得ることができます。複数のドキュメントを横断的に検索し、情報を整理することも可能です。
        </li>
        <li>
          <b class="red_attention">
            クライアントの機密情報や個人情報などの入力は禁止します。
          </b>
        </li>
        <li>
          回答には正確性に欠ける場合があるため、回答を疑問視し、内容を慎重に検討した上で、自己判断に基づいてご利用ください。
        </li>
        <li>入力された内容は機能向上のためにログを取得します。</li>
      </ul>
    </section>
    <section class="action" (click)="close()">
      <b>上記を理解して利用する</b>
    </section>
  </div>
</main>
