:host {
  display: block;
  width: var(--menu-width);
  height: 100dvh;
  overflow: hidden;
  transition: width 0.5s;
  @media (max-width: 1060px) {
    width: 0;
    transition: width 0.5s;
  }
}

main {
  display: flex;
  flex-direction: column;
  div.header {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    background-color: var(--gray-900);
    color: white;
    img {
      width: 28px;
      height: 28px;
    }
    section.title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h3 {
        margin-left: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h4 {
        margin-left: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  div.body {
    height: calc(100dvh - 4rem);
    overflow: overlay;
    background-color: var(--gray-900);
    section.category {
      details {
        padding: 0 1rem;
        summary {
          border-radius: 0.5rem;
          padding: 0.5rem;
          color: white;
          line-height: 2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          &:hover {
            background-color: var(--gray-ey);
          }
          &.active {
            background-color: var(--yellow-ey);
            color: unset;
          }
          summary.active:hover {
            background-color: unset;
          }
        }
        div.subfolder {
          padding: 0.5rem;
          color: white;
        }
      }
    }
  }
}
