<main>
  <div class="header">
    <h3>title</h3>
  </div>
  <div class="body">
    <section class="folder">
      <details>
        <summary>Folder</summary>
        <div class="subfolder"><p>subfolder1</p></div>
        <div class="subfolder"><p>subfolder2</p></div>
        <div class="subfolder"><p>subfolder3</p></div>
        <div class="subfolder"><p>subfolder4</p></div>
        <div class="subfolder"><p>subfolder5</p></div>
        <div class="subfolder"><p>subfolder6</p></div>
      </details>
    </section>
  </div>
</main>
