:host {
  display: block;
  width: calc(100% - var(--menu-width));
  @media (max-width: 1060px) {
    width: 100%;
  }
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  section.home-message {
    width: var(--chatbox-width);
    h2 {
      text-align: center;
      padding: 1rem;
    }
    ul li {
      line-height: 2rem;
    }
  }
}
