:host {
  display: block;
  width: calc(100% - var(--menu-width));
  @media (max-width: 1060px) {
    width: 100%;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}
div.body {
  height: calc(100dvh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  div.chat-box-container {
    width: var(--chatbox-width);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: overlay;
    div.chat-box {
      display: flex;
      flex-direction: column-reverse;
      pre {
        padding: 0.5rem;
      }
      section {
        margin: 0.5rem 0;
      }
      section.user {
        height: max-content;
        display: flex;
        justify-content: flex-end;
        div.content {
          display: flex;
          justify-content: flex-start;
          transition: height 0.2s ease-in-out;
          img {
            width: 24px;
            height: 24px;
          }
          pre {
            max-width: calc(var(--chatbox-width) - 3 * var(--svg-rem));
            border-width: 1px;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem var(--border-color);
          }
        }
      }
      section.ai {
        display: flex;
        flex-direction: column;
        div.content {
          display: flex;
          transition: height 0.2s ease-in-out;
          img {
            width: 24px;
            height: 24px;
          }
          pre {
            max-width: calc(var(--chatbox-width) - 2 * var(--svg-rem));
          }
        }
        > div {
          margin-left: 2rem;
          textarea {
            width: 50%;
            max-height: var(--textarea-max-height);
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            line-height: 1.5rem;
            resize: none;
            border-width: 1px;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem var(--border-color);
          }
          div.action {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            &.inactive {
              display: none;
            }
            button {
              margin-left: 1rem;
              padding: 0.5rem 1rem;
              border-radius: 0.5rem;
              cursor: pointer;
              background-color: unset;
              &.cancel {
                &:hover {
                  background-color: var(--gray-100);
                }
              }
              &.submit {
                &:hover {
                  background-color: var(--yellow-ey);
                }
              }
            }
          }
          &.inactive {
            display: none;
          }
        }
        div.feedback {
          a {
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              background-color: var(--gray-100);
            }
            &.active {
              background-color: var(--yellow-100);
            }
          }
        }
      }
    }
  }
  div.editor {
    width: var(--chatbox-width);
    max-height: var(--textarea-max-height);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-width: 1px;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--border-color);
    transition: height 0.2s ease-in-out;
    div.textarea-container {
      min-height: 1rem;
      display: flex;
      flex-direction: column;
      textarea {
        font-size: 16px;
        width: 100%;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        line-height: 1.5rem;
        resize: none;
      }
    }
    section.editor-option {
      padding: 0.5rem 0 0 0;
      display: flex;
      div.dropdown {
        position: relative;
        display: inline-block;
        user-select: none;
        &.sent {
          margin-left: auto;
        }
        > input[type="file"] {
          display: none;
        }
        > input[type="checkbox"] {
          display: none;
        }
        > input:checked ~ div.dropdown-content {
          display: flex;
        }
        label {
          display: inline-block;
          color: var(--gray-700);
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          &:hover {
            background-color: var(--gray-100);
          }
          &.inactive {
            opacity: 0.5;
            cursor: not-allowed;
            &:hover {
              background-color: unset;
            }
          }
        }
        div.dropdown-content {
          position: absolute;
          min-width: 19rem;
          bottom: 110%;
          left: 0;
          border: 1px solid #ddd;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 0.5rem;
          overflow: hidden;
          display: none;
          flex-direction: column;
          z-index: 10;
          &.attachments {
            padding: 0.5rem;
            gap: 0.5rem;
            max-width: 20rem;
            max-height: 40rem;
            overflow: overlay;
          }
          section {
            width: 100%;
            p {
              padding: 0.5rem;
              background-color: var(--yellow-100);
            }
            label {
              width: 100%;
              border-radius: unset;
            }
          }
        }
      }
    }
  }
}
div.footer {
  height: 2rem;
}
