<main>
  <div class="header">header</div>
  <div class="body">
    <div class="chat-box-container">
      <section class="ai">
        <svg>
          <use xlink:href="svg/general.svg#brain-out"></use>
        </svg>
        <pre>
ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答ai回答
        </pre>
      </section>
      <section class="user">
        <p>
          user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題user問題
        </p>
        <svg>
          <use xlink:href="svg/user.svg#user-circle"></use>
        </svg>
      </section>
    </div>
    <div class="editor">
      <div class="textarea-container">
        <textarea></textarea>
        <section class="textarea-option"></section>
      </div>
      <section class="editor-option"></section>
    </div>
  </div>
  <div class="footer"></div>
</main>
