/* You can add global styles to this file, and also import other style files */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  --font-family: "Fira Code", "Noto Sans Mono", "Consolas", "Menlo";
  interpolate-size: allow-keywords;
  /* color */
  --menu-width: 260px;
  --chatbox-width: 800px;
  --textarea-max-height: 300px;
  --svg-rem: 24px;
  --yellow-ey: #ffe600;
  --gray-ey: #2e2e38;
  --gray-900: #171717;
  --gray-700: #424242;
  --border-color: #e3e3e3;
}

*,
*::before,
*::after {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  scrollbar-color: var(--gray-700) transparent;
  border: 0 solid var(--border-color);
}

html {
  font-size: 14px;
  line-height: 1;
  /* Aspect ratio */
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

svg {
  width: var(--svg-rem);
  height: var(--svg-rem);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
textarea,
select,
input {
  field-sizing: content;
  outline: none;
}

details {
  height: max-content;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  ::marker {
    content: "";
  }
}

::-webkit-scrollbar {
  display: none;
}

/* ######### */
/* Scroll-driven animations */
/* .anchor_container {
  overflow: overlay;
  position: relative;
  .anchor {
    width: fit-content;
    font-size: 10rem;
    background-color: yellow;
    anchor-name: --my-anchor;
    anchor-scope: --my-anchor;
    .popover {
      font-size: 1rem;
      background-color: aquamarine;
      position: absolute;
      position-anchor: --my-anchor;
      position-area: top right;
      position-try: most-width flip-block, flip-inline, flip-start;
      position-visibility: no-overflow;
    }
  }
} */
